{
	auto_https off
}

http://localhost,
http://127.0.0.1 {
	root * /srv

	handle_path /api* {
		reverse_proxy nodered:1880
	}

	handle_path /pgadmin* {
		reverse_proxy pgadmin:80 {
			header_up X-Script-Name /pgadmin
		}
	}

	handle_path /portainer* {
		reverse_proxy portainer:9000
	}

	file_server
}
